﻿@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="hero fullscreen hero-img parallax-img" id="splash-img">
        <div class="hero-body">
            <div class="content u-text-center">
                <h1 class="uppercase white title headline-1">👋 Hello !</h1>
                <a class="u-inline-block" asp-area="" asp-controller="Page" asp-action="Moi">
                    <button class="btn-light outline">Commencer la visite</button>
                </a>
            </div>
        </div>
    </div>
</section>
