﻿<div class="hero-body u-center">
    <div id="bts">
        <br>
        <h2>BTS SIO ?</h2>
        <div class="card-custom text-center">
            <p>
                Le BTS Services informatique aux Organisations est un diplôme reconnu par l’état de niveau Bac+2. Il remplace depuis septembre 2011 l’ancien BTS informatique de Gestion (BTS IG). En effet, cette nouvelle formule répond aux attentes de la profession en matière de qualification. Le programme a évolué en fonction de la place et du rôle des TIC (Technologies d’Information Communication) et propose deux spécialités bien distinctes : le BTS SIO SISR et le BTS SIO SLAM.
                Il associe aux enseignements théoriques et professionnels (en contrôle continu et final) deux stages en entreprise (10 à 11 semaines réparties sur les deux années d’études).
                En plus des matières en lien avec l’ingénierie informatique, la formation propose également des enseignements de culture générale, d’anglais (avec la possibilité de continuer une LV2), de mathématiques appliquées à l’informatique, ainsi que sur les outils d’analyse économique, managériale et juridique des services informatiques.
                De plus, au cours de cette formation, il est possible de bénéficier d’un enseignement approfondi en mathématiques et de travailler en autonomie en laboratoire informatique.
            </p>
        </div>
        <h2>BTS SIO EN DEUX OPTIONS </h2>
        <div class="card-custom text-center">
            <p>
                OPTION SISR
                <br />
                L’option Solutions d’infrastructure, systèmes et réseaux forme des professionnels des réseaux et équipements informatiques (installation, maintenance, sécurité). En sortant d’un BTS SIO SISR, vous serez capables de gérer et d’administrer le réseau d’une société et d’assurer sa sécurité et sa maintenance.
                Les techniciens supérieurs en informatique option SISR, peuvent accéder aux métiers de :
                •	Administrateur systèmes et réseaux,
                •	Informaticien support et déploiement,
                •	Pilote d’exploitation,
                •	Support systèmes et réseaux,
                •	Technicien d’infrastructure,
                •	Technicien de production,
                •	Technicien micro et réseaux
                <br />
                OPTION SLAM
                <br />
                L’option Solutions logicielles et applications métiers forme des spécialistes des logiciels (rédaction d’un cahier des charges, formulation des besoins et spécifications, développement, intégration au sein de la société).
                Les techniciens supérieurs en informatique option slam, sont préparés aux métiers de
                •	Développeur d’applications informatiques
                •	Développeur informatique
                •	Analyste d’applications ou d’études
                •	Analyste programmeur
                •	Chargé d’études informatiques
                •	Informaticien d’études
                •	Programmeur analyste
                •	Programmeur d’applications
                •	Responsable des services applicatifs
                •	Technicien d’études informatiques

            </p>
        </div>
    </div>
