﻿<div class="hero-body u-center">
    <div id="moi">
        <br>
        <h2>A propos de moi</h2>
        <div class="card-custom text-center">
            <p>Je m’appelle Samuel Votier je suis née le 25/11/2002. 
            Je suis actuellement étudiant au Lycée Saint Aspais où je suis une formation en BTS SIO option SLAM « Services Informatiques aux Organisations option Solutions Logicielles et Applications Métier » pour la période 2020/2022. 
            Depuis mon plus jeune âge je baigne dans l’informatique et la technologie c’est ce qui m’a donné envie de poursuivre mes études postbac avec ce BTS SIO.</p>
        </div>
         <h2>Projet Professionnel</h2>
        <div class="card-custom text-center">
            <p>A l’heure actuelle j’ai comme projet professionnel de devenir développeur web ou d’application et de travailler pour une entreprise qui me correspond et par la suite après avoir acquis de l’expérience lancer une start-up toujours dans le domaine du développement. 
            Dans ce but je cherche à réaliser une formation diplômante bac+3.</p>
        </div>

    </div>
</div>

