﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonPortfolio</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- Minified Cirrus CSS -->
    <link rel="stylesheet" href="~/lib/cirrus/cirrus.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="header header-fixed unselectable header-animated">
            <div class="header-brand">
                <div class="nav-item no-hover">
                    <h6 class="title"><a asp-area="" asp-controller="Page" asp-action="Index">MonPortfolio</a></h6>
                </div>
                <div class="nav-item nav-btn" id="header-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header-nav" id="header-menu">
                <div class="nav-left">
                    <div class="nav-item text-center">
                        <a href="#">
                            <span class="icon">
                                <i class="fab fa-wrapper fa-twitter" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="nav-right">
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Page" asp-action="Index">Home</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Page" asp-action="Moi">Moi</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Page" asp-action="MonEtablissement">Mon établissement</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Page" asp-action="MaFormation">Ma formation</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Page" asp-action="MesCompetences">Mes compétences</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Projet" asp-action="Index">Mes projets</a>
                    </div>
                    <div class="nav-item has-sub toggle-hover">
                        <a class="nav-dropdown-link" >Ma veille</a>
                        <ul class="dropdown-menu dropdown-animated" role="menu">
                            <li role="menu-item"><a asp-area="" asp-controller="Veille" asp-action="Index">Présentation</a></li>
                            <li role="menu-item"><a asp-area="" asp-controller="Veille" asp-action="Technologique">Veille technologique</a></li>
                            <li role="menu-item"><a asp-area="" asp-controller="Veille" asp-action="Juridique">Veille juridique</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer>
        <h6 class="white uppercase">Samuel Votier</h6>
        <div class="content">
            <div class="divider"></div>
            <div class="row">
                <div class="col-3">
                    <ul class="no-bullets">
                        <li class="no-bullets footer-list-title"><a asp-area="" asp-controller="Page" asp-action="Confidentialite">Confidentilalité</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
