﻿footer{
    margin-top: 0;
}

#splash-img{
    background:url("../images/fondh.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

#splash-img2{
    background: url("../images/fveille.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-custom {
    margin-top: 3vh;
    background-color: rgba(255, 255, 255,0.8);
    color: black;
    border-radius: 0.5em;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    padding: 2%;
    margin-bottom: 5vh;
}

