﻿<div class="hero-body u-center">
    <div class="hero fullscreen hero-img parallax-img" id="splash-img2">
        <div id="veille">
            <br>
            <div class="card-custom">
                <h2>Qu’est-ce qu’une veille ?</h2>

                <p>

                    La veille technologique est une activité qui met en œuvre des techniques d’acquisition, de stockage et d’analyse d’informations, concernant un produit ou un procédé, sur l’état de l’art et l’évolution de son environnement scientifique
                    , technique, industriel ou commercial, afin de collecter, organiser,
                    puis analyser et diffuser les informations pertinentes qui vont permettre d’anticiper les évolutions, et qui vont faciliter l’innovation.
                </p>
            </div>
        </div>
    </div>
</div>